@import '../../../node_modules/antd/lib/style/themes/dark.less';
@import './base';

#user {
  .sider {
    overflow: auto;
    height: 100vh;
    // position: fixed;
    // left: 0;
  }
  .profile-logo {
    text-align: center;
    margin-top: 20px;
    &-img{
      max-height: 50px;
    }
  }
  .quick-menu {
    float: right;
  }
  .ant-layout-header {
    padding: 0 5px;
  }
  // .main-layout {
  //   background-color: #333;
  // }
  .content {
    background: #141414;
    padding: 25px;
    margin: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;

    &.transparent {
      background: transparent;
      box-shadow: none;
    }
  }
}