// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）

@import '../../../node_modules/antd/lib/style/themes/default.less';
@import './base';
//slider
@slider-width: 256px;
@default-color: #d9d9d9;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #ff4d4f;
@processing-color: #1890ff;

#admin {
  .admin-header {
    background-color: #fff;
  }
  .ant-layout-sider {
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  }
  .content {
    margin-top: 16px;
    background-color: #fff;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }

  .sensor-table {
    .ant-table {
      margin: 0px 40px 0px 40px;
    }
    .ant-pagination {
      margin: 20px 40px 0px 40px;
    }
    .ant-table-thead {
      .ant-table-cell {
        background-color: #e6f7ff;
      }
    }
  }

  .status {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: @default-color;
    margin-right: 10px;
    &-offline {
      background-color: @default-color;
    }
    &-online {
      background-color: @success-color;
    }
    &-online::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid @success-color;
      border-radius: 50%;
      -webkit-animation: antStatusProcessing 1.2s ease-in-out infinite;
      animation: antStatusProcessing 1.2s ease-in-out infinite;
      content: "";
    }
    &-processing {
      background-color: @processing-color;
    }
    &-processing::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid @processing-color;
      border-radius: 50%;
      -webkit-animation: antStatusProcessing 1.2s ease-in-out infinite;
      animation: antStatusProcessing 1.2s ease-in-out infinite;
      content: "";
    }
    &-deleted {
      background-color: @error-color;
    }
    &-deleted::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid @error-color;
      border-radius: 50%;
      -webkit-animation: antStatusProcessing 1.2s ease-in-out infinite;
      animation: antStatusProcessing 1.2s ease-in-out infinite;
      content: "";
    }
    &-disabled {
      background-color: @warning-color;
    }
    &-disabled::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid @warning-color;
      border-radius: 50%;
      -webkit-animation: antStatusProcessing 1.2s ease-in-out infinite;
      animation: antStatusProcessing 1.2s ease-in-out infinite;
      content: "";
    }
    &-small {
      width: 6px;
      height: 6px;
    }
    &-medium {
      width: 9px;
      height: 9px;
    }
    &-big {
      width: 12px;
      height: 12px;
    }
  }
}

.connected-device {
  position: relative;
  background-color: #000000;
  overflow: hidden;
  // display: none;
  min-height: 600px;
  text-align: center;

  // img.snapshot {
  //   position: absolute;
  // }
  div.ptz-spd-ctl-box {
    position: absolute;
    bottom: 10px;
    left: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.3em;
  }
  div.ptz-spd-ctl-box span.label {
    display: block;
    margin-top: 0.3em;
  }
  div.device-info-box {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
  }
  div.disconnect-box {
    position: absolute;
    bottom: 10px;
    right: 1em;
  }
  div.ptz-ctl-box {
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 80px;
    left: 1em;
  }
  div.ptz-ctl-box div.ptz-pad-box {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    opacity: 0.4;
  }
  div.ptz-ctl-box div.ptz-pad-box:hover {
    opacity: 0.6;
  }
  div.ptz-ctl-box div.ptz-pad-box button.ptz-goto-home {
    width: 50px;
    height: 50px;
    border-width: 0px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  div.ptz-ctl-box div.ptz-pad-box .left {
    position: absolute;
    left: 10px;
    top: 74px;
    cursor: pointer;
  }
  div.ptz-ctl-box div.ptz-pad-box .right {
    position: absolute;
    right: 10px;
    top: 74px;
    cursor: pointer;
  }
  div.ptz-ctl-box div.ptz-pad-box .up {
    position: absolute;
    left: 74px;
    top: 10px;
    cursor: pointer;
  }
  div.ptz-ctl-box div.ptz-pad-box .down {
    position: absolute;
    left: 74px;
    top: 140px;
    cursor: pointer;
  }
  div.disconnect-box button[name="disconnect"] {
    opacity: 0.5 !important;
  }
  div.disconnect-box button[name="disconnect"]:hover {
    opacity: 1.0 !important;
  }

  div.ptz-zom-ctl-box {
    position: absolute;
    bottom: 120px;
    right: 1em;
    opacity: 0.4;
  }

  div.ptz-zom-ctl-box:hover {
    opacity: 0.6;
  }
}