#homeIndex {
  .homeBackground {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/image-login.png");
    background-size: cover;
  }
  .homeContent{
      background-color: whitesmoke;
      margin: 50px
  }
}
