#home {
  .detail {
    .section {
      position: relative;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
      overflow: hidden;
      text-shadow: 2px 2px 2px #00000061;

      .background {
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        .color {
          background-color: #ffffff96;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }

      &.title {
        color: #fff;
        font-size: 36px;
      }

      &.info{
          color: #fff;
          text-align: center;
          .caption{
            font-size: 14px;
            font-weight: bold;
          }
          .value{
              font-size: 24px;
              font-weight: bold;
          }
      }

      &.slide{
          height: 340px;
          padding: 0;
      }

      &.content{
          background-color: #ffffffb8;
          text-shadow: none;
      }

      &.btn{
        color: #fff;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

      }
    }

  }

  .checkout{
    padding: 20px;
    background: #ffffff96;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;

    .title{
        font-size: 30px;
        color: #333;
    }
  }
}
